<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L-9</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <!-- vue-app是根容器 -->
    <div id="vue-app">
        <!-- 使用v-for渲染数组数据 -->
        <p v-for="u in users">{{u}}</p>
        <hr />
        <!-- v-for中第二个参数（index）为下标 -->
        <p v-for="(u,index) in users">{{index}}. {{u}}</p>
        <hr />
        <!-- 下标从1开始 -->
        <p v-for="(u,index) in users">{{index + 1}}. {{u}}</p>
        <hr />
        <!-- 使用v-for渲染对象数据 -->
        <div v-for="i in infos">
            <p>姓名：{{i.name}}</p>
            <p>年龄：{{i.age}}</p>
        </div>
        <hr />
        <!-- 使用key/val遍历子对象 -->
        <div v-for="info in infos">
            <p v-for="(val, key) in info">{{key}} : {{val}}</p>
        </div>
        <hr />
        <!-- 使用template标签替代div标签，可节省列表渲染过多的div造成的开销 -->
        <template v-for="i in infos">
            <p>姓名：{{i.name}}</p>
            <p>年龄：{{i.age}}</p>
        </template>
    </div>
</body>
<script src="test.js"></script>
</html>